<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>장소 검색 서비스</title>
</head>
<body class="bg-light">

<div class="bg-kakao">
    <nav class="container navbar navbar-expand navbar-dark bg-kakao">
        <a class="navbar-brand mr-auto text-dark font-weight-bold" th:href="@{/}">장소 검색 서비스</a>

        <ul class="navbar-nav">
            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/login}">로그인</a>
                </li>
            </th:block>
            <th:block sec:authorize="!isAnonymous()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        내 정보
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">내 검색 히스토리</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:document.logoutForm.submit();">로그아웃</a>
                    </div>
                </li>
            </th:block>
        </ul>
    </nav>
</div>

<div class="container bg-kakao py-1 mt-5">
    <form method="GET" action="/search" class="my-5">
        <div class="form-group">
            <label for="keyword" class="h5">검색할 장소를 입력하세요!</label>
            <input type="text" id="keyword" name="keyword" class="form-control form-control-lg border-kakao" />
        </div>
    </form>
</div>

<form name="logoutForm" method="POST" th:action="@{/logout}" th:hidden="true">
    <input type="submit" />
</form>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
