<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<div layout:fragment="content">
    <div class="container bg-kakao py-1 mt-5">
        <form id="searchForm" method="GET" action="/search" class="my-5">
            <div class="form-group">
                <label for="keyword" class="h5">검색할 장소를 입력하세요!</label>
                <div class="input-group">
                    <input type="text" id="keyword" name="keyword" class="form-control form-control-lg border-kakao" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">검색</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <ul id="keywordRankList" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center row">
                <span class="font-weight-bold">인기 키워드 순위</span>
                <small id="standardDateTime" class="text-muted"></small>
            </li>
        </ul>
    </div>
</div>

<script layout:fragment="script">
    $(document).ready(function () {
        renderKeywordRank();
    });

    $('#searchForm').on('submit', function () {
        var $keyword = $('#keyword');
        if (!$keyword.val()) {
           alert('검색할 장소를 입력하세요!');
           $keyword.focus();
           return false;
        }
    });

    var renderKeywordRank = function () {
        $.ajax({
            method: 'GET',
            url: '/popular-keywords'
        })
        .done(function (response) {
            $('#standardDateTime').text(response.standardDateTime + ' 기준');

            var $keywordRankList = $('#keywordRankList');
            if (response.keywordRanks.length) {
                for (var i = 0; i < response.keywordRanks.length; i++) {
                    var keywordRank = response.keywordRanks[i];
                    $keywordRankList.append(`
                        <li class="list-group-item row">
                            <span class="badge col-1">${keywordRank.rank}</span>
                            <a class="text-dark" href="/search?keyword=${keywordRank.keyword}">${keywordRank.keyword}</a>
                            <small class="text-muted float-right">총 ${keywordRank.totalSearchCount}회 검색</small>
                        </li>
                    `);
                }
            }
            else {
                $keywordRankList.append('<li class="list-group-item row">집계된 키워드가 없습니다.</li>');
            }
        })
        .fail(function () {
            alert('인기 키워드 순위를 로드하지 못했습니다.');
        });
    };
</script>

</html>
