<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.custom.css">
    <title>장소 검색 서비스</title>
</head>
<body>
    <div id="container"></div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc47b44ace308b66b7a99651d1e33213"></script>
    <script src="/js/index.js"></script>
</body>
</html>
